
body{
  margin: 0;
}

#main-container{
  display: grid;
  background-color: black;
  min-height: 100vh;
  grid-template-rows: max-content;
}

a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#home{
  display: grid;
}

.links{
  display: grid;
  grid-template-columns: repeat(2,1fr) 3fr ;
  padding: 10px;
  margin: 5px;
  align-items: center;
}

#logo{
  display: grid;
  justify-content: end;
  font-size: 25px;
  font-weight: bold;
  color: red;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#search{
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 70%;
  justify-self: center;
  height: fit-content;
  align-self: center;
  
}


button{
  width: fit-content;
  border-radius: 5px;
}

input{
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
}

#catalog{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  color: white;
}


.movie{
  display: grid;
  grid-template-rows: 1fr 2fr 0.5fr;
  justify-items: center;
  margin: 10px;
}

.movie-details{
  color: white;
  padding: 20px;
  font-size: 25px;
}

.back{
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}

img{
  width: 250px;
  height:270px;
  box-shadow: 5px 5px 5px gray;
}

.remove{
  display: grid;
  background-color: white;
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  color: black;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  justify-self: start;
}

.rent{
  display: grid;
  background-color: white;
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  color: black;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  justify-self: start;
}

.info-container{
  display: grid;
  justify-items: center;
  align-items: center;
}



#home-title{
  display: grid;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin: 20px;
}

#rented{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

p{
  color: white;
  padding: 10px;
}



@media screen and (max-width: 414px) {
  body{
    min-height: 100vh;
    width: 100vw;
  }

  #logo{
    font-size: 30px;
    margin: 15px;
  }
  
  a{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  #users-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .user{
    margin: 10px;
    font-size: 17px;
    width: 80px;
    height: 80px;
  }

  img{
    width: 100px;
    height:130px;
  }

  p{
    font-size: 20px;
  }

  .movie-title{
    font-size: 13px;
    text-align: center;
  }

  .movie-details{
    color: white;
    padding: 20px;
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  body{
    min-height: 100vh;
    width: 100vw;
  } 

  #logo{
    font-size: 25px;
    margin: 10px;
  }

  a{
    font-size: 15px;
   
  }

  #users-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .user{
    margin: 10px;
    font-size: 15px;
    width: 70px;
    height: 70px;
  }

  img{
    width: 80px;
    height: 100px;
  }

  
  p{
    font-size: 20px;
  }

  .movie-title{
    font-size: 12px;
    text-align: center;
  }

  .movie-details{
    color: white;
    padding: 20px;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  body{
    min-height: 100vh;
  }

  #logo{
    font-size: 40px;
    margin: 15px;
  }
  
  a{
    font-size: 30px;
   
  }

  img{
    width: 230px;
    height:270px;
  }

  p{
    font-size: 30px;
  }
  
  #users-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  
  .user{
    margin: 10px;
    font-size: 20px;
    width: 200px;
    height:150px;
  }


}

@media screen and (min-width: 1024px) {
  body{
    min-height: 100vh;
  } 

  #logo{
    font-size: 60px;
    margin: 15px;
  }

  a{
    font-size: 40px;
   
  }

  img{
    width: 250px;
    height:270px;
  }

  p{
    font-size: 35px;
  }

  #users-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .user{
    margin: 10px;
    font-size: 20px;
    width: 200px;
    height: 150px;
  }

  .movie-title{
    font-size: 20px;
    text-align: center;
  }

}


.user{
    display: grid;
    align-content: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

.user:hover {
  cursor: pointer;
  width: 220px;
  height:160px;
}

#user-title-container{
  display: grid;
}


#add-user:hover{
  width: 220px;
  height:160px;
}

#add-user{
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: white;
  color:black;
  font-weight: bold;
}